<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/add-style.css">
    <title>Document</title>
  </head>
  <body>
    <div class="main-div"> 
      <div class="form-div">
        <form method="POST" action="/student/add"> 
          <div class="id-div form-input">
            <label for="id">Id: </label>
            <input type="text" id="id" name="id" required>
          </div>
          <div class="name-div form-input"> 
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" required>
          </div>
          <div class="city-div form-input">
            <label for="City">City: </label>
            <input type="text" id="City" name="city" required>
          </div>
          <div class="toar-div form-input">
            <label for="Toar">Toar: </label>
            <select type="text" id="Toar" name="toar"> 
              <option value="ba" >BA</option>
              <option value="ma" >MA</option>
              <option value="phd" >PHD</option>
            </select>
          </div>
          <input class="add-btn" type="submit" value="Add student"><a href="/student">List students</a>
        </form>
      </div>
    </div>
  </body>
</html>