<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
  </head>
  <body>
    <div> 
      <form action=""> 
        <label for="Toar">Toar: </label>
        <select type="text" id="Toar" name="Toar" value=""> 
          <option value="-1">All</option>
          <option value="ba">BA</option>
          <option value="ma">MA</option>
          <option value="phd">PHD</option>
        </select><br>
        <label for="City">City: </label>
        <input type="text" id="City" name="City" value=""><br><br>
        <label for="grade">Min. avg. grade: </label>
        <input type="number" id="grade" name="grade" value=""><br><br>
        <input type="button" value="Filter">
      </form>
      <table> 
        <th> 
          <td>Id </td>
          <td>Name </td>
        </th>
        <tr> 
          <td>123456</td>
          <td>Dani </td>
          <td> 
            <button> delete </button>
          </td>
          <td>
            <button> update  </button>
          </td>
        </tr>
      </table>
      <hr>
      <href> </href>
    </div>
  </body>
</html>