form(method="POST" action="http://localhost:8080/upload_text_file" enctype="multipart/form-data")
	div.client_text_files.form-input
		label Select your text file:
		input(type="file" name="txt_file")
	div.client_text_files.form-input
		input(type="submit" name="btn_upload_txt_file" value="Upload")
	