doctype
html
 head 
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Document

 body
  div 
    form(action="") 
      label(for="Toar") Toar: 
      select( type="text" id="Toar" name="Toar" value="") 
        option(value="-1") All
        option(value="ba") BA
        option(value="ma") MA
        option(value="phd") PHD
      br
      label(for="City") City: 
      input(type="text" id="City" name="City" value="") 
      br 
      br
      label(for="grade") Min. avg. grade: 
      input(type="number" id="grade" name="grade" value="") 
      br 
      br
      input(type="button" value="Filter")
    table 
      th 
        td Id 
        td Name 
      each item, i in obj1
        tr
          td=item.id 
          td=item.name 
          td 
           form(action=dest+item._id method="POST") 
            input(type="submit" value="delete")
          td
            button
              a(href="/student/update/"+item._id) update  
          
    hr
    a(href="/student/add") Add a student