<!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>
	<body>
        <form action="http://localhost:8080/client/upload" method="POST" enctype="multipart/form-data">
            <input type="file" id="myFile" name="filename" />
            <br />
            <input type="submit"  />
        </form>
    </body>
</html> -->
<!DOCTYPE html>
<form method="POST" action="http://localhost:8080/client/upload" enctype="multipart/form-data">
  <input type="file" name="document" />
  <input type="submit" />
</form>
<!-- <script>
    var form = document.getElementById('form');
    form.addEventListener('submit', function(e) {
        e.preventDefault();
        var formData = new FormData(form);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/submit-form');
        xhr.send(formData);
    });
</script> -->
</html>



<!--html from that use multer to get file from users>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        <form action="http://localhost:8080/" method="POST" enctype="multipart/form-data">
            <input type="file" id="myFile" name="filename" />
            <br />
            <input type="submit" />
        </form>
    </body>