<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
  </head>
  <body>
    <div> 
      <form action=""> 
        <label for="id">Id: </label>
        <input type="text" disabled id="id" name="id" value="123456"><br>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" value="Dani"><br>
        <label for="City">City: </label>
        <input type="text" id="City" name="City" value="TA"><br>
        <label for="Toar">Toar: </label>
        <select type="text" id="Toar" name="Toar" value="ba"> 
          <option value="ba">BA</option>
          <option value="ma">MA</option>
          <option value="phd">PHD</option>
        </select><br><br>
        <input type="button" value="Update student">
      </form>
      <hr>
      <table> 
        <th> 
          <td>course </td>
          <td>grade </td>
        </th>
        <tr> 
          <td>35000</td>
          <td>95</td>
        </tr>
      </table>
      <hr>
      <label for="courseId">Course id: </label>
      <input type="text" id="courseId" name="courseId" value=""><br>
      <label for="grade">Grade: </label>
      <input type="text" id="grade" name="grade" value=""><br>
      <input type="button" value="Add course"><a href="http://localhost:8080/student">List students</a>
    </div>
  </body>
</html>